.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style-type: none;
}
.originalPrice {
  color: red;
  text-decoration: line-through;
}
#bat {
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}
.batContainer,
.miscContainer {
  margin: 0.5rem 0.5rem 3rem 0.5rem;
}
p,
.title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.svg1,
.svg2,
.svg3,
.svg4 {
  max-width: 30%;
  min-width: 30%;
  height: auto;
}

/* .svg1:hover,
.svg2:hover,
.svg3:hover {
  transform: rotate(180deg);
  transition: 0.5s ease-in;
} */

a.svg1,
a.svg3,
a.svg2,
a.svg4 {
  max-width: 25%;
  min-width: 25%;
  height: max-content;
}

h4 {
  color: green;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.copyrightContainer {
  margin: 0;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
